body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Arial', sans-serif;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    text-align: center;
    z-index: 2;
}

h1 {
    font-size: 4rem;
    margin: 0;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

.social-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-buttons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, opacity 0.3s;
}

.social-buttons a:hover img {
    transform: scale(1.2);
    opacity: 0.8;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .social-buttons a img {
        width: 30px;
        height: 30px;
    }
}
